body {
  font-family: 'Courier New', Courier, monospace;
  background: #1139A8;
}

table {
  width: 70%;
  border-collapse: separate;
  text-align: center;
}

caption {
  background-color: #8CBBEE;
  margin: 2px;
  border: 2px double black;
  line-height: 1.5em;
  font: bolder 1.5em Consolas, Monaco, monospace;
  padding: 10px;
}

td, th {
  font: bolder 1.2em Consolas, Monaco, monospace;
  border: 2px solid black;
  padding: 10px;
  text-align: center;
}

.dias {
  background-color: #1BB7F5;
}

.campus {
  background-color: #1BB7F5;
}

.hora {
  background-color: #0D6CDE;
}

tbody > tr > td {
  background-color: #fff;
  margin: 2px;
}